@media(max-width:1220px){
  .section_descr{
    padding: 0 50px;
  }
}

@media (max-width:1630px){
  .about-us__block_left-descr{
    max-width: 400px;
  }
}

@media (max-width:1520px){
  .about-us__block_left-descr{
    max-width: 380px;
  }
}

@media (max-width:1460px){
  .about-us__block_left-descr{
    max-width: 350px;
  }
}

@media (max-width:1400px){

  .about-us{
    margin-top: 0;
    margin-bottom: 80px;
  }

  .btn_reset{
    border-radius: 16px;
  }

  .about-us__block{
    flex-direction: column;
    align-items: center;
  }

  .about-us__descr{
    margin-bottom: 60px;
  }

  .about-us__block_left{
    max-width: 100%;
    width: 100%;
    height: 640px;
    margin-bottom: 32px;
    margin-right: 0;
    background-size: cover;
    border-radius: 24px;
  }

  .about-us__block_left-item{
    border-radius: 24px;
  }

  .about-us__block_left-descr{
    max-width: 454px;
  }

  .about-us__block_right{
    max-width: 100%;
     width: 100%;
     padding: 0;
  }

  .about-us__block_right-item{
    padding: 65px 77px;
    border-radius: 24px;
  }

  }

   @media (max-width:900px){

    .about-us{
      margin-bottom: 80px;
    }


    .about-us__block_right-item{
      padding: 35px 40px;
    }

.about-us__block_left-descr{
  margin-right: 20px;
}
  }



  @media (max-width:760px){
    .about-us__block_left{
      border-radius: 16px;
    }

    .btn_reset{
      border-radius: 8px;
    }

    .about-us{
    margin-bottom: 61px;
    }

.section_title{
font-size: 24px;
line-height: 29px;
}

.about-us__descr{
font-size: 14px;
line-height: 28px;
margin-bottom: 14px;
}

.btn_reset{
  border-radius: 8px;
}

.about-us__block_left{
  height: 400px;
  background-position: top;
  background-size: cover;
  margin-bottom: 32px;
  border-radius: 16px;

}

.about-us__block_left{
margin-bottom: 8px;
}

.about-us__block_left-item{
  display: none;
}

.about-us__invisible{
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  }

.about-us__block_left-descr{
  color: var(--black);
   max-width: 100%;
   margin-right: 0;
   font-weight: 400;
font-size: 14px;
line-height: 28px;
margin-bottom: 12px;
}

.about-us__block_left-btn{
  padding: 12px 44px;
  background-color: var(--write);
  outline: 2px solid var(--orange);
  color: var(--orange);
  font-weight: 700;
font-size: 12px;
line-height: 15px;
max-width: 162px;
}


.about-us__block_right-item{
  flex-direction: column;
  outline: none;
  align-items: flex-start;
  padding: 0;
}

.about-us__block_right-item{
  border-radius: 16px;
}

.about-us__block_right-item:not(:last-child){
  margin-bottom: 32px;
}

.about-us__block_right-title{
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 4px;
}

.about-us__block_right-descr{
  font-size: 14px;
line-height: 28px;
}

.about-us__block_right-item-svg{
  width: 64px;
  margin: 0;
  margin-bottom: 12px;
}
  }

  @media(max-width:560px){
    .about-us__block_left{
      height: 300px;
    }
  }

  @media(max-width:420px){
    .about-us__block_left{
      height: 200px;
    }
  }
