@media (max-width:1630px){
  .survey__item_input{
    border-radius: 16px;
  }

  .btn_reset{
    border-radius: 16px;
  }
}

@media (max-width:1420px){

  .footer__container{
    padding: 50px;
  }
  .footer__right{
    display: none;
  }


  .footer__left{
width: 47%;
  }

  .footer__center{
    width: 53%;
  }

}


@media(max-width:1172px){
  .footer__container{
    flex-direction: column-reverse;
    align-items: left;
  }

  .footer__center{
    width: 100%;
  }

  .footer__left_list{
    display: none;
  }

  .footer__center_bottom{
    margin-bottom: 50px;
  }

  .footer__left_img{
    margin: 0;
    margin-bottom: 16px;
  }

  .footer__left_img-logo{
    margin: 0;
  }
}

@media (max-width:760px){
  .survey__item_input{
    border-radius: 8px;
  }

  .btn_reset{
    border-radius: 8px;
  }
}

@media(max-width:718px){

  .footer{
    align-items: center;
  }

  .footer__container{
    padding: 33px 15px;
  }

  .footer__left{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 16px;
  }

  .footer__center{
padding-bottom: 27px;
border-bottom: 1px solid #414141;
}

  .footer__center_title{
    font-size: 24px;
line-height: 29px;
margin-bottom: 20px;
  }

  .footer__center_bottom{
    margin-bottom: 0;
  display: inline-block;
  display: flex;
  flex-direction: column;
  align-items: center;
 }

 .footer__center_bottom-btn{
  margin-right: 0;
  margin-bottom: 20px;
 }

 .logo{
  width: 131px;
 }

 .social__list_item-link-svg{
  width: 40px;
  height: 40px;
 }

 .footer__center_checkbox{
  line-height: 18px;
 }

 .survey__item_input{
  border-radius: 16px;
 }




}
