
.calculation_div{
  padding: 100px 80px;
  margin: 50px 0;
}

.calculation__title{
  font-weight: 800;
font-size: 70px;
line-height: 85px;
color: var(--white);
max-width: 837px;
margin: 0;
margin-bottom: 24px;
}

.calculation__descr{
color: var(--white);
max-width: 837px;
margin: 0;
margin-bottom: 90px;
font-size: 24px;
}

.calculation__btn{
  min-width: 280px;
  min-height: 78px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  transition: background-color 0.3s ease;
}

.calculation__btn:hover{
  background-color: var(--light_orange);
}

.calculation__btn:focus{
  background-color: var(--light_orange);
}

.calculation__btn:active{
  background-color: var(--dark_orange);
}

.calculation_div{
background-image: url(../img/canculation/canculation_img.jpg);
min-height: 620px;
border-radius: 32px;
background-repeat: no-repeat;
background-position: center;
}
