.footer{
  background-color: #222222;
  margin: 0;
  padding: 50px 75px;
  justify-content: space-between;
}


.footer__left{
width: 30%;
}

.footer__left_logo{
  margin-right: 12px;
}

.footer__left_list{
margin: 0;
padding: 0;
margin-top: 20px;
margin-bottom: 90px;
}



.footer__left_social_list{
  margin: 0;
  padding: 0;
}

.footer__left_item_link{
  font-weight: 600;
font-size: 18px;
line-height: 36px;
color: var(--grey);
}

.footer__left_item_link{
  padding: 5px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  }

  .footer__left_item_link:hover{
    color: var(--orange);
  }

  .footer__left_item_link:focus{
    outline: 2px solid var(--orange);
  }

  .footer__left_item_link:active{
    color: var(--dark_orange);
    outline: none;
  }

.footer__left_social_item{
  margin: 0;
  padding: 0;
}

.footer__left_social_item_svg{
  fill: #666;
}

.footer__left_social_item_svg{
  margin-right: 25px;
}

.footer__left_social_item{
  position: relative;
}

.footer__left_social_item_link{
  max-width: 60px;
  max-height: 60px;
  transition: fill 0.3s ease;
}

.footer__left_social_item_link::after svg{
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  outline: 2px solid var(--orange);
  opacity: 0;
}

.footer__left_social_item_link:hover svg{
  fill: var(--orange);
}

.footer__left_social_item_link:focus::after svg{
opacity: 1;
}

.footer__left_social_item_link:active svg{
  fill: var(--dark_orange);
}


.footer__center{
  max-width: 575px;
  width: 100%;
}

.footer__center_title{
  color: var(--grey);
  margin: 0;
  margin-bottom: 23px;
}

.footer__center_survey{

}

.footer__center_list{
  margin: 0;
  padding: 0;
}

.footer__center_input{
  width: 100%;
  background-color: #414141;
  margin: 0;
  border: none;
  border-radius: 16px;
  margin-bottom: 25px;
  padding: 14px 24px;
  color: var(--white);
  transition: background-color 0.3s ease-in-out;
}

.footer__center_input:hover{
  background-color: var(--dark-grey);
}

.footer__center_input:focus{
  background-color: var(--dark-grey);
}

.footer__center_input:active{
  background-color: var(--dark-grey);
}

.footer__center_input_name{
  min-height: 60px;
}

.footer__center_input_mail{
  min-height: 60px;
}

.footer__center_input_messages{
  height: 150px;
}

.footer__center_btn{
  max-width: 269px;
  min-height: 58px;
  padding: 19px 50px;
background-color: var(--orange);
color: var(--white);
font-weight: 700;
font-size: 16px;
line-height: 20px;
margin-right: 22px;
transition: background-color 0.3s ease-in-out;
}

.footer__center_btn:hover{
  background-color: var(--orange);
}

.footer__center_btn:focus{
  background-color: var(--orange);
}

.footer__center_btn:active{
  background-color: var(--dark_orange);
}


.application__checkbox{
position: relative;
cursor: pointer;
font-weight: 400;
font-size: 16px;
line-height: 32px;
color: var(--grey);
padding-left: 18px;
}

.checkbox{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark{
  position: absolute;
  top: 2px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: var(--black);
  border:1px solid var(--grey);
  border-radius: 2px;
}


.application__checkbox input:checked ~ .checkmark{
  background-image: url(../img/footer/footer_check.svg);
  background-position: center center;
  background-repeat: no-repeat;
}


.footer__right{
  width: 570px;
margin: 0;
padding: 0;
padding-top: 87px;
}

.footer__right_descr{
  color: var(--grey);
  width: 363px;
  font-weight: 400;
font-size: 16px;
line-height: 32px;
margin-left: auto;
}
