html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller.eot');
  src: local('Muller Bold'), local('MullerBold'),
      url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller.eot');
  src: local('Muller Light'), local('MullerLight'),
      url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller.eot');
  src: local('Mulle rMedium'), local('MullerMedium'),
      url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('Muller.eot');
  src: local('Muller Regular'), local('MullerRegular'),
      url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  min-width: 1200px;
  font-family: Muller, sans-serif;
  background-color:  #E5E5E5;
}

.list_reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn_reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.2s ease-in-out;
}

.btn_reset:focus{
background-color: var(--basic-brown);
color: var(--white);
}


.btn_reset:hover{
background-color: var(--basic-brown);
color: var(--white);
}

.btn_reset:active{
background-color: var(--dark-brown);
color:var(--white);
}


.flex {
  display: flex;
}

/* .container  */
.container{
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.section_descr {
  margin: 0;
  margin-bottom: 47px;
}

/*root*/
:root{
  --light-brown:#F0BF5F;
  --basic-brown:#CC9933;
--dark-brown:#A47312;
--white:#fff;
--gray:#333;
--light-gray-666:#666;
--light-gray:#999;
--pale-gray:#e1e1e1;
--dark:#000;
}

/* header */


.header_container {
  width: 100%;
  margin: 0;
  margin: 30px 0;
  align-items: center;
}

.header_contacts {
  margin: 0;
  margin-left: 34px;
  margin-right: auto;
  font-weight: 500;
font-size: 20px;
line-height: 20px;
color: var(--light-gray-666);
transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header_contacts:focus{
  color: var(--basic-brown);
  outline: 1px solid var(--basic-brown);
}

.header_contacts:hover{
  color: var(--basic-brown);
outline: none;
}

.header_contacts:active{
  color: var(--dark-brown);
outline: none;
}

.header_button{
  padding: 5px;
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--basic-brown);
fill: var(--basic-brown);
transition: fill 0.3s ease-in-out, color 0.3s ease-in-out;
}

.header_button:focus{
color: var(--basic-brown);
fill: var(--basic-brown);
outline: 1px solid var(--basic-brown);
}

.header_button:hover{
  color: var(--light-brown);
  fill: var(--light-brown);
}

.header_button:active{
  color: var(--dark-brown);
  fill: var(--dark-brown);
}

/* Навигиция */


.container_nav {
  padding: 14px 45px;
  background-color: var(--white);
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #E4E4E4;
}

.nav_list_item:not(:last-child) {
  margin: 0;
  margin-right: 45px;
}

.nav_list {
  margin-right: auto;
  align-items: center;
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--light-gray-666);
padding-right: 56px;
border-right: 1px solid #E1E1E1;

}

.nav_button_1 {
  margin-right: 40px;
  padding: 13px 20px;
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--basic-brown);
border: 1px solid var(--basic-brown);
border-radius: 15px;
}

.nav_button_2 {
  padding: 13px 20px;
  font-size: 16px;
line-height: 16px;
color: var(--basic-brown);
border: 1px solid var(--basic-brown);
border-radius: 15px;
}

.nav_link{
  padding: 3px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
}

.nav_link:focus{
  color: var(--basic-brown);
  outline: 1px solid var(--basic-brown);
}

.nav_link:hover{
  color: var(--basic-brown);
}

.nav_link:active{
  color: var(--dark-brown);
  /* outline: none; */
}


/* Спецпредложения */

.title_2 {
  margin: 0;
  margin-left: 40px;
  font-weight: 400;
font-size: 40px;
line-height: 40px;
color: var(--gray);
}

.title_special_offers {
  margin-bottom: 20px;
}

.special_offers_image{
  width: 1170px;
  /* justify-content: space-between; */
  align-items: stretch;
}

.special_offers_img{
  padding: 0;
  padding: 40px;
  position: relative;
}

.special_offers_link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid var(--light-brown);
  outline-offset: 5px;
  opacity: 0;
}

.special_offers_link:focus::before{
  opacity: 1;
}

.special_offers_img_left {
width: 573px;
flex-wrap: wrap;
margin-right: 23px;
}


.special_offers_img_12 {
  margin: 0;
  width: 100%;
  min-height: 258px;
  background-repeat: no-repeat;
  background-position: center;
  padding-right: 234px;
  border-radius: 15px;
}

.special_offers_img_1{
  background-image: url(../img/special_offers_img_1.jpg);
background: linear-gradient(90deg, rgba(48, 64, 89, 0.84)  -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special_offers_img_1.jpg);
  margin-bottom: 23px;
}

.special_offers_img_2 {
  background-image: url(../img/special_offers_img_2.jpg);
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special_offers_img_2.jpg);
}

.special_offer_img_right {
  width: 573px;
  min-height: 540px;
  margin: 0;
  padding-top: 211px;
  padding-right: 234px;
  background-image: url(../img/special_offers_img_3.jpg);
  background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/special_offers_img_3.jpg);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-position: center;
}

.special_offers_title {
  margin: 0;
  margin-bottom: 15px;
color: var(--white);
}

.special_offers_title_12{
  font-weight: 700;
font-size: 40px;
line-height: 40px;
}

.special_offers_title_3{
  font-weight: 700;
font-size: 60px;
line-height: 60px;
}

.special_offers_text {
  margin: 0;
  margin-bottom: 47px;
color: var(--white);
opacity: 0.8;
}

.special_offers_text_12{
  font-weight: 400;
font-size: 20px;
line-height: 20px;
}

.special_offers_text_3{
  font-weight: 400;
font-size: 30px;
line-height: 30px;
}

.special_offers_link{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--light-brown);
padding-right: 7px;
transition: color 0.3s ease-in-out;
}

.special_offers_link:focus{
color: var(--light-brown);
}

.special_offers_link:hover{
color: var(--light-brown);
padding-right: 15px;

}

.special_offers_link:active{
color: var(--white);
}

/* О нас */

.about_us_title {
  margin-bottom: 11px;
  font-weight: 400;
font-size: 40px;
line-height: 40px;
color: var(--gray);
}

.about_us_text {
  margin: 0;
  width: 888px;
  font-weight: 400;
font-size: 16px;
line-height: 200%;
color: var(--dark);
}


/* Услуги */


.title_services {
  margin-bottom: 20px;
}

.services_text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: var(--dark);
}



.services_link_flex{
  align-items: center;
  justify-content: flex-start;
  min-width: 257px;
  stroke: var(--basic-brown);
  transition: stroke 0.3s ease-in-out;
}

.services_link_flex:hover{
  stroke: var(--light-brown);
}

.services_link_flex:focus{
  stroke: var(--basic-brown);
}

.services_link_flex:active{
  stroke: var(--dark-brown);
}

.services_item{
  position: relative;
}

.services_link{
  display: inline-block;
  padding-right: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--basic-brown);
  transition: color 0.3s ease-in-out;
}

.services_link::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  outline: 1px solid var(--light-brown);
  outline-offset: 5px;
  opacity: 0;
}


.services_link:focus::before{
  opacity: 1;
}

.services_link:focus{
  color: var(--basic-brown);
}

.services_link:hover{
  color: var(--light-brown);
  padding-right: 15px;
}

.services_link:active{
  color: var(--dark-brown);
}


.services_list {
  width: 1170px;
  flex-wrap: wrap;
}

.services_item:not(:nth-last-child(-n+2)){
  margin-bottom: 23px;
}

.services_item {
  background: var(--white);
  border-radius: 15px;
  display: inline-block;
  width: 573px;
  min-height: 330px;
  padding: 191px 45px 50px;
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 23px;
}

.services_item:not(:nth-child(2n)) {
  margin-right: 23px;
}

.services_item_1{
background-image: url(../img/services_img_1.png);
}

.services_item_2{
  background-image: url(../img/services_img_2.png);
}

.services_item_3{
  background-image: url(../img/services_img_3.png);
}

.services_item_4{
background-image: url(../img/services_img_4.png);
}

/* преимущества */

.advantages{
  margin-right: 0;
  padding: 0;
}

.title_advantage {
  margin-bottom: 30px;
}

.advantage_li{
  flex-wrap: wrap;
  align-items: stretch;
}
.advantage_list {
  display: inline-block;
  width: 275px;
  min-height: 275px;
  box-shadow: none;
  background: var(--white);
  border-radius: 15px;
  padding: 116px 42px 41px 45px;
  background-repeat: no-repeat;
  background-position: 40px 40px;
  margin-bottom: 23px;
}

.advantage_text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
}

.advantage_list_1{
  background-image: url(../img/advantage_list_img_1.svg);
}

.advantage_list_2{
  background-image: url(../img/advantage_list_img_2.svg);
}

.advantage_list_3{
  background-image: url(../img/advantage_list_img_3.svg);
}

.advantage_list_4{
  background-image: url(../img/advantage_list_img_4.svg);
}

.advantage_list_5{
  background-image: url(../img/advantage_list_img_5.svg);
}

.advantage_list_6{
  background-image: url(../img/advantage_list_img_6.svg);
}

.advantage_list_7{
  background-image: url(../img/advantage_list_img_7.svg);
}

.advantage_list_8{
  background-image: url(../img/advantage_list_img_8.svg);
}

.advantage_list:not(:nth-child(4n)) {
  margin-right: 23px;
}

.advantage_list:not(:nth-last-child(-n+4)) {
  margin-bottom: 23px;
}



/* Размещение */

.placement_list{
  flex-wrap: wrap;
  align-items: stretch;
}

.title_placement {
  margin-bottom: 30px;
}

.placement_item {
  display: inline-block;
  margin-bottom: 23px;
  padding: 0;
  width: 374px;
  min-height: 440px;
  background: var(--white);
border-radius: 15px;
}

.placement_item:not(:nth-child(3n)){
  margin-right: 23px;
}

/* .placement_item:not(:nth-last-child(-n+3)){
  margin-bottom: 23px;
} */


.placement_reset {
  margin: 0;
  margin: 0 -45px;
  margin-bottom: 16px;
}

.placement_reset_btn {
  margin: 0;
  margin: 0 45px 16px;
}

.price_reset {
  margin: 0;
}

  .placement_price{
align-items: flex-end;
}

.placement_stars{
  margin: 0;
}

.price_3{
  margin-right: auto;
}

.placement_stars{
  width: 94px;
background-position: right;
}

.price_1{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--light-gray);
}

.price_2{
  font-weight: 700;
font-size: 20px;
line-height: 20px;
color: var(--dark);
margin: 0 4px;
}

.price_3{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--dark);
}

.placement_img {
  margin: 0;
  margin-bottom: 36px;
}

.placement_item_9 {
  display: inline-block;
  color: var(--white);
  padding-top: 373px;
  padding-left: 54px;
}

.name_hotel{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--dark);
}

.placement_location{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--light-gray);
}

.placement_btn{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--basic-brown);
padding: 10px;
border: 1px solid var(--basic-brown);
border-radius: 15px;
background-color: var(--white);
}

.placement_item_9{
  position: relative;
  background-image: url(../img/placament_img_9.png);
  background: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url(../img/placament_img_9.png);
  background-repeat: no-repeat;
}

.img_9_link{
  padding-right: 15px;
  background-image: url(../img/placement_link.svg);
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: right center;
}

.img_9_link::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/*Хочу тур*/

.title_tour{
  color: var(--dark);
  margin: 0;
  padding-top: 38px;
  margin-bottom: 19px;
}

.title_tour_1{
  margin: 0;
  margin-bottom: 15px;
  font-weight: 400;
font-size: 12px;
line-height: 12px;
color: var(--dark);
}

.container_tour{
  margin: 0;
  background-color: var(--white);
  border-radius: 15px;
  width: 1080px;
  min-height:106px ;
  padding: 28px 32px;
}

.tour{
  background-color:#dedede;
  width: 1170px;
  padding-left: 45px;
  padding-right: 45px;
  padding-bottom: 71px;
  border-radius: 15px;
  min-height: 274px;
}

.tour_select{
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--dark);
padding-right: 20px;
}

.city_dep{
  width: 169px;
}

.country_dep{
  width: 169px;
}

.tour_date{
  width: 121px;
  padding: 0;
}

.tour_night{
  width: 121px;
  padding: 0;
}

.tour_tourists{
  width: 121px;
  padding: 0;
}

.city_dep_li{
  width: 189px;
  padding-right: 20px;
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--dark);
box-sizing: border-box;
}

.country_li{
  width: 189px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark);
}

.date_li{
  width: 141px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark);
}

.night_li{
  width: 141px;
  padding-right: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark);
}

.tourists_li{
  width: 151px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--dark);
}

.tour_input{
  border: 0;
}

.tour_item{
border-right: 1px solid var(--pale-gray);
align-items: center;
}

.tour_item:not(:last-child) {
  margin: 0;
  margin-right: 20px;
}

.tour_input::-webkit-inner-spin-button,
.tour_input::-webkit-outer-spin-button {
  opacity: 1;
}

.tour_nav_list{
  margin-right: auto;
}

.tour_btn{
  width: 108px;
  min-height: 42px;
  font-weight: 400;
font-size: 16px;
line-height: 16px;
color: var(--basic-brown);
padding: 13px 30px;
border: 1px solid var(--basic-brown);
box-sizing: border-box;
border-radius: 10px;
}


/*contacts*/

.container_cont{
  width: 1168px;
  min-height: 618px;
  padding: 44px 44px 46px 46px;
  background: var(--white);
border-radius: 15px;
}

.contacts_img{
  min-height: 100%;
}

.cont_text{
  margin: 0;
}

.cont_li{
  min-height: 70px;
  border-bottom: 1px solid #C4C4C4;
  padding-bottom: 23px;
}

.cont_li:not(:first-child){
  margin-top: 25px;
}

.cont_text_left{
  width: 40%;
  font-weight: 700;
font-size: 20px;
line-height: 20px;
color: var(--dark);
}

.cont_text_right{
  width: 60%;
}

.cont_tel{
  display: inline-block;
  padding: 1px;
  transition: color 0.3s ease-in-out, outline 0.3s ease-in-out;
  min-width: 150px;
}

.cont_tel:focus{
  color: var(--basic-brown);
  outline: 1px solid var(--basic-brown);
}

.cont_tel:hover{
  color: var(--basic-brown);
}

.cont_tel:active{
  color: var(--dark-brown);
  outline: none;
}

.cont_list{
  margin-bottom: 45px;
  width: 425px;
}

.cont_btn{
  padding: 27px 29px;
  border: 1px solid var(--basic-brown);
box-sizing: border-box;
border-radius: 10px;
font-weight: 700;
font-size: 16px;
line-height: 16px;
color: var(--basic-brown);
}

.cont_text_ad{
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--dark);
}

.cont_text_tel{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--basic-brown);
}

.cont_mail{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--basic-brown);
  padding: 2px;
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.cont_mail:focus{
  color: var(--basic-brown);
  outline:1px solid  var(--basic-brown);
}

.cont_mail:hover{
color: var(--light-brown);
  outline: none;
}

.cont_mail:active{
  color: var(--dark-brown);
outline: none;
}

.cont_text_mail{
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--light-gray);
}


.cont_text_chart{
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--dark);
}

.cont_left{
  margin-right: 50px;
}

.contacts{
  margin-bottom: 19px;
}


/*footer*/

.footer_container{
  background-color: var(--gray);
  border-radius: 15px;
  padding: 44px 52px 0;
  min-height: 341px;
}

.footer_text{
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 190%;
  color: var(--white);
}

.footer_link_1{
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--basic-brown);
margin-bottom: 46px;
padding: 2px;
transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
}

.footer_link_1:focus{
  color: var(--basic-brown);
  outline: 1px solid var(--basic-brown);
}

.footer_link_1:hover{
  color: var(--light-brown);
  outline: none;
}

.footer_link_1:active{
  color: var(--dark-brown);
outline: none;
}
.footer_left{
  /* width: 36%; */
  width: 422px;
  padding-right: 102px;
  padding-bottom: 46px;
}

.footer_text_1{
  margin-bottom: 49px;
}

.footer_text_2{
  margin-bottom: 49px;
}


.footer_tel{
  display: inline-block;
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--basic-brown);
padding: 2px;
transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;
max-width: 160px;
}

.footer_tel:focus{
  color: var(--basic-brown);
  outline: 1px solid var(--basic-brown);
}

.footer_tel:hover{
  columns: var(--basic-brown);
  outline: none;
}

.footer_tel:active{
  color: var(--dark-brown);
outline: none;
}


.footer_mail{
  font-weight: 400;
font-size: 16px;
line-height: 150%;
color: var(--basic-brown);
padding: 2px;
transition:  outline 0.3s ease-in-out, color 0.3s ease;
max-width: 160px;
}

.footer_mail:focus{
  color: var(--basic-brown);
  outline:1px solid  var(--basic-brown);
}

.footer_mail:hover{
  color: var(--light-brown);
  outline: none;
}

.footer_mail:active{
  color: var(--dark-brown);
outline: none;
}

.footer_m{
  flex-direction: column;
}

.footer_adress{
  margin-bottom: 15px;
}

.footer_t{
  margin-bottom: 14px;
  flex-direction: column;
}

.footer_center{
  width: 618px;
  padding-right: 99px;
  background-image: url(../img/footer_sun.svg);
  background-repeat: no-repeat;
  background-position: bottom 0 right 100px;
}

.footer_social_item{
  margin-bottom: 25px;
}

.footer_link_social{
  display: flex;
  width: 25PX;
  height: 25px;
align-items: center;
justify-content: center;
}

.footer_link_social svg{
  fill: var(--light-gray);
  transition: fill 0.3s ease-in-out;
}

.footer_link_social:focus svg{
fill: var(--basic-brown);
}

.footer_link_social:hover svg{
fill: var(--basic-brown);
}

.footer_link_social:active svg{
fill: var(--dark-brown);
}
